<%- include('../partials/header') %> 
    <br>
    <p>
        <%= skill.skill %> - <%= skill.level %>
    </p>
    <br>
    <a href="/<%= skill.id %>/edit">Edit the skill</a>
<%- include('../partials/footer') %> 